---
---
<footer class="modern-footer">
  <div class="footer-content">
    <ul class="social-icons">
      <li><a href="https://ca.linkedin.com/in/ruslanbredikhin/en" target="_blank" rel="noopener noreferrer" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://github.com/bredikhin" target="_blank" rel="noopener noreferrer" title="GitHub"><i class="fa fa-github"></i></a></li>
      <li><a href="https://x.com/russbredihin" target="_blank" rel="noopener noreferrer" title="Twitter/X"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://medium.com/@russbredihin" target="_blank" rel="noopener noreferrer" title="Medium"><i class="fa fa-medium"></i></a></li>
      <li><a href="https://stackoverflow.com/users/1330470/bredikhin" target="_blank" rel="noopener noreferrer" title="Stack Overflow"><i class="fa fa-stack-overflow"></i></a></li>
    </ul>
    <p class="copyright">&copy; 2025 Ruslan Bredikhin. All rights reserved.</p>
  </div>
</footer>
