---
import Footer from './Footer.astro';
---

<header id="header">
  <div class="inner">
    <div class="image avatar">
      <img src="/images/avatar.jpg" alt="" />
    </div>
    <h1>
      <strong>Ruslan Bredikhin</strong> <br />
      SENIOR SOFTWARE ENGINEER <br />
      <i>Montreal, Canada</i>
    </h1>
  </div>
  <Footer />
</header>
